<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean class="com.learn.spring.HelloWorld" name="helloWorld">
        <property name="message" value="DUPA"/>
    </bean>

    <bean class="com.learn.spring.Singleton" name="singleton" scope="singleton"/>

    <bean class="com.learn.spring.Prototype" name="prototype" scope="prototype"/>

    <bean class="com.learn.spring.InitHelloWorld"/>
</beans>